doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content=description)
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0 minimal-ui')
		title= title

		//- Stylesheets
		for font in assets.fonts
			link(
				rel='stylesheet',
				href='https://fonts.googleapis.com/css?family=' + font.family + ':' + font.weights
			)

		for href in assets.styles
			link(rel='stylesheet', href=href)

		link(rel='stylesheet', href='/assets/css/main.css')

	body(class=section)

		//- Navigation
		include ./partials/_header.pug

		//- Content
		block content

		//- Footer
		//- include ./components/layout/footer.jade

		//- Scripts
		for src in assets.scripts
			script(src=src)

		script(src='/assets/js/main.js')
